body{
  font-size: 16px;
  color: #fff;
  background-color: black;
}
/** HEADER **/
#header-nav {
  background-color: #333;
  border-radius: 0;
  border: 0;
  border-bottom: : 2px solid #3F0C1F;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  color: crimson;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #fff;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: crimson;
  text-align: center;
}
#nav-list a:hover {
  background: #f6b319;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #f6b319;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid crimson;
  background-color: #333;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*Home Page*/
h3{
  text-align: center;
  color: #f6b319;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 60px;
}


#chicken, #beef, #sushi{
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
  position:relative;
  border: 2px solid crimson;
}

#chicken div, #beef div, #sushi div{
  text-align: center;
  width: 100%
}

#chicken:hover, #beef:hover, #sushi:hover{
  box-shadow: 0 1px 2px 1px #cccccc;
}

#chicken span, #beef span, #sushi span{
  width: 100%;
  position:relative;
  right: 0px;
}

#chicken>p, #beef>p, #sushi>p{
  background-color: #333;
}
/*End of Home-page*/

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){

}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
  h3{
    font-weight: normal;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #333;
    color: crimson;
  }
  #call-btn>a:hover{
    background-color:#f6b319; 
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
}