*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

h1{
	text-align: center;
	margin-bottom: 60px;
	margin-top: 30px;
}
.subtitle1{
	text-align: center;
	border:1px solid black;
	width:80px;
	float: right;
	background-color: #6f42c1;

}

.subtitle2{
	text-align: center;
	border:1px solid black;
	width:80px;
	float: right;
	background-color: #dc3545;
}
.subtitle3{
	text-align: center;
	border:1px solid black;
	width:80px;
	float: right;
	background-color: #fd7e14;
}
p{
	clear: right;
}
.col-md-4,.col-sm-6{
	border: 2px solid white;
	background-color: #6c757d;
	box-sizing: border-box;
}
